.product {
  display: block;
  background-color: $color-blue-5;
  padding-top: $pd-5;
  position: relative;
  .product-bot {
    position: absolute;
    bottom: 0;
    img {
      width: 100%;
    }
  }
  .product-content {
    position: relative;
    .container {
      @include position(100);
      .product-item {
        text-align: center;

        padding: $pd-2;
        &>div:hover {
          @include boxShadow;
          overflow: hidden;
        }
        .item-top {
          border-radius: $bdr $bdr 0 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 170px;
          &:hover {
            transform: scale(1.1);
          }
        }
        .item-bot {
          padding: $pd-1 $pd-1 $pd--5 $pd-1;
          background-color: $color-white-3;
          border-radius: 0 0 $bdr $bdr;
        }
      }
      
      
      .item-1 .item-top {
        background-image: url(../../images/teacher_1.jpg);
      }
      .item-2 .item-top {
        background-image: url(../../images/teacher_2.jpg);
      }
      .item-3 .item-top {
        background-image: url(../../images/teacher_3.jpg);
      }
      .item-4 .item-top {
        background-image: url(../../images/teacher_4.jpg);
      }
      .item-5 .item-top {
        background-image: url(../../images/teacher_5.jpg);
      }
      .item-6 .item-top {
        background-image: url(../../images/teacher_6.jpg);
      }
      .item-7 .item-top {
        background-image: url(../../images/teacher_7.jpg);
      }
      .item-8 .item-top {
        background-image: url(../../images/teacher_8.jpg);
      }
    }
  }
}
@include responsiveMin("extra-large-plus") {
  .product-content {
    @include reponsiveWitdh;
  }
}
